html {
    font-size: 32px;
}

header {
    height: 100vh;
    background: black;

    padding: 50px;

    .&-row1 {
        margin: 50px;

        & h1 {
            font-size: 4vw;
        }

        & p {
            width: 25vw;
            font-size: 3vw;
        }
    }

    .&-row2 {
        margin: 50px;

        & button {
            width: 30vw;
            margin: 2vw;

            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: -2px;
                top: -2px;
                width: calc(100% + 4px);
                height: calc(100% + 4px);

                border-radius: 0.375rem;
                background: transparent;
                box-shadow:
                        0 1px 2px rgba(35, 146, 161, 0.11),
                        0 3px 5px rgba(35, 146, 161, 0.153),
                        0 6px 10px rgba(35, 146, 161, 0.184),
                        0 10px 18px rgba(35, 146, 161, 0.213),
                        0 19px 33px rgba(35, 146, 161, 0.253),
                        0 45px 80px rgba(35, 146, 161, 0.35),
                        0 1px 2px rgba(35, 146, 161, 0.11) inset,
                        0 3px 5px rgba(35, 146, 161, 0.153) inset,
                        0 6px 10px rgba(35, 146, 161, 0.184) inset,
                        0 10px 18px rgba(35, 146, 161, 0.213) inset,
                        0 19px 33px rgba(35, 146, 161, 0.253) inset,
                        0 45px 80px rgba(35, 146, 161, 0.35) inset;

                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }

            &:hover::before {
                opacity: 1;
            }
        }
    }
}
